<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
   
   <img src="static/hof.png" class="hof1">
	<img src="static/hof.png" class="hof2">
	
    <h1>
         Basketball Hall of Fame Probability Predictor
    </h1>

    <div class="alert alert-danger" role="alert">
  <p class="alert-link">We're sorry. There was a problem accessing the database. Please try back later. </p>
    </div>

</body>
</html>